:host{
    .search{
        margin: 10px 20px;
    }
    span{
        margin: 10px 20px;
        color:#404040;
        font-family: "Roboto","Helvetica Neue",sans-serif;
    }
    .mat-list-item{
        img{
            width: 20px;
        }
    }
    .mat-list-item:hover{
        cursor: pointer;
    }
}